.profile__options {
  margin: 0;
  padding: 0;
  color: #000;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.profile__options-edit,
.profile__options-log_out {
  background: none;
  border: none;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}
