.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__title {
  margin: 8px 0 24px 0;
}

.modal__content {
  background-color: #fff;
  max-width: 496px;
  width: 100%;
  height: 436px;
  border-radius: 20px;
  padding: 0 28px 36px 28px;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.modal__content-item {
  width: 498px;
  height: 610px;
  z-index: -2;
  width: 498px;
  height: 610px;
  padding: 36px 36px;
}

.modal__image {
  width: 568px;
  height: 570px;
  position: relative;
  bottom: calc(13% + 0.5px);
  z-index: -1;
  display: flex;
  right: calc(6% + 6px);
  border-radius: 20px 20px 0 0;
}

.modal__close-button {
  background-image: url("../../images/grey-x-button.svg");
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px 0 0 448px;
  position: relative;
  left: 28px;
  color: #0000004d;
  opacity: 1;
}

.modal__description {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 10%;
  gap: 10px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.modal__close-button_image {
  background-image: url("../../images/white-x-button.svg");
  margin: 20px 0 0 454px;
  bottom: 5%;
}

.modal__add-form {
  display: flex;
  flex-direction: column;
}

.modal__add-form_button {
  position: relative;
  top: 32px;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  border: none;
  background: #000;
  color: #fff;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.modal__add-form_button:hover {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.modal__add-form_button:disabled {
  background: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.modal__add-form_button:disabled:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.modal__input {
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border-bottom: 1px solid #000;
}

.modal__input-title {
  margin: 0 0 8px 0;
}

.modal__radio-title {
  margin: 0 0 12px 0;
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.modal__delete-button_container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 118px;
}

.modal__delete-button {
  color: #ff4d00;
  background: none;
  border: none;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.modal__delete-button_visible {
  color: #ff4d00;
  background: none;
  border: none;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.modal_delete-button_hidden {
  /* display: none; */
}

/* Delete modal css */
.delete__modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.delete__modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  height: 280px;
  width: 670px;
}

.delete__modal-header {
  display: flex;
  justify-content: flex-end;
}

.delete__modal-close {
  background: none;
  border: none;
  cursor: pointer;
}

.delete__modal-content {
  padding: 20px 0 50px 0;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.delete__modal-text {
  margin: 0;
}

.delete__modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete_btn {
  cursor: pointer;
  background: none;
  border: none;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.delete_btn-confirm {
  color: #ff4d00;
  padding-bottom: 20px;
}

/* .delete_btn-cancel {
} */

/* ^Delete modal css^ */
