.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0000004D;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.modal__opened {
	visibility: visible;
}

.modal__content_type_form > .modal__title {
	margin: 0 0 24px 0;
	font-family: CabinetGrotesk-Bold;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

}

.modal__content_type_form > .modal__close {
	position: absolute;
	top: 20px;
	right: 28px;
	background: url("../../assets/close_button_formmodal.svg");
	width: 16px;
	height: 16px;
	border: none;
}

.modal__content_type_form {
	background-color: #FFF;
	position: relative;
	padding: 28px 28px 36px;
	max-width: 496px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 20px;
}

.modal__content_type_form > .modal__form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 24px;
}

.modal__content_type_form > .modal__form > .modal__label > .modal__input {
	display: block;
	border: none;
	border-bottom: 1px solid #00000080;
	width: 440px;
	margin-top: 8px;
	padding: 0;
}

.modal__content_type_form > .modal__form > .modal__radio-buttons {
	border: none;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.modal__label {
	font-family: CabinetGrotesk-Bold;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

.modal__content_type_form > .modal__radio-buttons {
	gap: 8px;
}

.modal__content_type_form > .modal__form > .modal__radio-buttons > .modal__legend {
	margin-bottom: 12px;
}

.modal__legend {
	font-family: CabinetGrotesk-Bold;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

}

.modal__content_type_form > .modal__form > .modal__input:focus {
	outline: none;
}

.modal__content_type_form > .modal__form > .modal__radio-buttons > .modal__label_type_radio {
	color: #00000080;
}

.modal__content_type_form > .modal__form > .modal__radio-buttons > .modal__label > .modal__radio-input {
	margin-right: 2px;
	width: 16px;
	accent-color: black;
}

.modal__content_type_form > .modal__form > .modal__submit {
	width: fit-content;
	height: 36px;
	border-radius: 4px;
	padding: 8px 16px;
	background: black;
	border: none;
	color: white;
	margin-top: 8px;

	font-family: CabinetGrotesk-Medium;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

}

.modal__content_type_form > .modal__form > .modal__submit:hover {
	background-color: #00000099;
}

.modal__content_type_form > .modal__form > .modal__submit:disabled {
	background-color: #0000004D;
}
