.profile {
  display: flex;
  align-items: start;
  min-height: 60px;
  padding: 32px 40px 0;
  color: #000;
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 30px;
}

.profile__items-container {
  position: relative;
  top: 15px;
}

.profile__container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.profile__logo {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 229px;
}

.profile__user-name {
  font-size: 20px;
  height: 25px;
  text-decoration: none;
}

.profile__avatar-logo {
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.profile__items-text {
  margin: 0 auto;
  line-height: 25px;
  font-size: 20px;
}

.profile__add-button {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  background: none;
  border: none;
  margin-left: 20px;
}

.profile__card-items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 0px;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.profile__change-data,
.profile__log-out {
  border: none;
  background: none;
  cursor: pointer;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.profile__content {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  height: 280px;
  width: 670px;
  position: fixed;
  top: 25%;
}

.profile__modal-container {
  display: flex;
  justify-content: flex-end;
}

.profile__modal-close {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.profile__modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__modal-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid #000;
}

.profile__modal-save {
  border-radius: 4px;
  width: 124px;
  height: 36px;
  border: none;
  background: #000;
  color: #fff;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}
