.card {
	width: 323px;
	position: relative;
	display: flex;
	justify-content: center;
}

.card__name {
	margin: 0;

	border-radius: 4px;

	padding: 2px 12px;
	background-color: white;
	font-family: CabinetGrotesk-Bold; /* This isn't the like button, but note: get the solid like button from figma as well and implement */
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

}

.card__info-container {
	position: absolute;
	display: flex;
	top: 15px;
}

.card__like-empty {
	background: url("../../assets/Like button.svg");
	width: 20px;
	height: 18px;

	margin: 3px 0 0 10px;
	
	border: none;
	outline: none;
}

.card__like-solid {
	background: none;
	margin: -2px 0 0 5px;
	font-size: 20px;

	border: none;
	outline: none;
}

.card__image {
	width: 100%;
	border: 1px solid #0000004D;
	border-radius: 19px;
}
