.weather {
  position: relative;
}

.weather_info {
  position: absolute;
  top: 20px;
  left: 16px;
  color: #fff;
  font-family: Cabinet Grotesk;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.weather_image {
  width: 100%;
}

@media screen and (max-width: 320px) {
  .weather_info {
    top: -8px;
    left: 6px;
    font-size: 15px;
  }
  .weather_image {
    width: 100%;
  }
}
