.weather-card {
	display: flex;
	position: relative;
	height: 80px;
	border-radius: 12px;
	overflow: hidden;
}

.weather-card__temp {
	font-size: 36px;
	line-height: 40px;
	margin: 0;
	position: absolute;
	top: 20px;
	left: 16px;
}

.weather-card__image {
	object-fit: cover;
	object-position: right top;
	width: 100%;
}

.weather-card__temp {
	color: white;
	font-family: CabinetGrotesk-Bold;
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

}
